# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
.build/
build/
obj/
bin/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk
*.dll
*.exe

# IDE
.metadata
.idea/
.vscode/
*.iml
*.user
*.suo

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
package-lock.json

# Flutter/Dart
.pub-cache/
.pub/
.flutter-plugins
.flutter-plugins-dependencies
dart_tool/

# Project files
/SmartBLE/unpackage
SmartBLE/.DS_Store
